.container {
    background: var(--color-dark-bg) url("./background.png") center center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    padding: var(--space-2xl);
    display: grid;
    place-items: center;
    gap: var(--space-md);
}