.container {
    display: flex;
    align-items: center;
    width: 100%;

    &.narrow {
        margin: 0 auto;
    }

    &.withChildren {
        gap: var(--space-xs);
    }

    &:not(.withChildren) {
        height: 1px;
        background-color: var(--color-text-disabled);
        opacity: 0.5;
    }
}

.line {
    height: 1px;
    background-color: var(--color-text-disabled);
    opacity: 0.5;
    flex: 1;
}

.content {
    color: var(--color-text-primary);
    white-space: nowrap;
}